@import url("book-search.css");
@import url("sidebar.css");
@import url("my-books.css");

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  margin-left: 50px;
  width: calc(100% - 50px);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.section {
  padding: 20px;
  padding-top: 5px; /* Reduce top padding if needed */
  padding-left: 5px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  height: 50vh;
}

.section-link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  display: inline-block;
  margin-top: 0; /* Adjust or remove top margin */
  position: relative;
  top: 0; /* Align to the top */
}

.books-list {
  background-color: #f9f9f9f9;
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
  margin: 20px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.my-book {
  flex: 0 0 auto;
  position: relative;
  width: 150px;
  height: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.my-book-cover {
  width: 150px;
  height: auto;
  transition:
    opacity 0.5s,
    filter 0,
    5s;
  will-change: opacity, filter;
}

.my-book-info {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  background: rgba(95, 95, 95, 0.027);
  color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.5s;
  will-change: opacity;
}
.my-book-info > * {
  margin: 10px 20px;
}

.my-book-title,
.my-book-author {
  margin: 5px 3;
  overflow: hidden;
  white-space: normal;
}

.my-book-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-style: italic;
  line-height: 1.1;
}

.my-book:hover .my-book-cover {
  opacity: 0.3;
  filter: blur(5px);
}
.my-book:hover .my-book-info {
  opacity: 1;
}

#dive-back-in-section {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#statistics-section {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#my-books-section {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  height: auto;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
}

h1 {
  text-align: center;
  padding-left: 50%;
  padding-right: 50%;
  text-decoration: wavy;
}
